<style>
h2{
  text-align:center;
}
.actions{
  position:relative;
  float:none;
	text-align:center;
  margin:20px;
}
body,html{
 background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjhPd0v1I75HNjOwfPwLdRAV_sBgMnSRcv2jHD4Mb7HWPF9H74) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}
</style>

<div class="container" style="background:#2EFE64; max-width:400px;padding:50px">
<h2><strong>Regístrate :)</strong></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>

<div class="container">



</div>
