<!DOCTYPE html>
<html>
  <head>
    <title>TIENDAONLINE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div class="mean">
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="#">TIENDA ONLINE STRANGER THINGS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busquemos</button>
    </form>
    <ul class="navbar-nav navbar-right">
          <% if user_signed_in? %>
          
          <li class=" nav-link"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li class=" nav-link"><%= link_to 'Get Started',  new_user_registration_path, class: "btn btn-sm btn-outline-primary" %></li>
          <li class=" nav-link"> <%= link_to "Login", new_user_session_path, class: "btn btn-sm btn-outline-primary" %></li>
          <% end %>
        </ul>
  </div>
  
</nav>

</div>

      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

   
    <%= yield %>

    <footer style="text-align:center; background-color:#ffc107">
  <p>Posted by: Zully Tamayo</p>
  <p>Contact information:3172699812<p> <a href="mailto:someone@example.com"><p>
  zullytamayom@gmail.com</a>.</p>
</footer>
  </body>
</html>
